# Excel Manipulation With Python - I
Using the Kaggle Dataset: [Link](https://www.kaggle.com/datasets/malakhussien220/student-habits-performance)

In [109]:
import pandas as pd;
import matplotlib.pyplot as plt

In [110]:
studentData = pd.read_csv("../data/StudentHabit/student_habits_performance.csv");
studentData.head(15)

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score
0,S1000,23,Female,0.0,1.2,1.1,No,85.0,8.0,Fair,6,Master,Average,8,Yes,56.2
1,S1001,20,Female,6.9,2.8,2.3,No,97.3,4.6,Good,6,High School,Average,8,No,100.0
2,S1002,20,Male,6.9,2.8,2.3,No,97.3,4.6,Good,6,High School,Average,8,No,100.0
3,S1003,23,Female,1.0,3.9,1.0,No,71.0,9.2,Poor,4,Master,Good,1,Yes,26.8
4,S1004,19,Female,5.0,4.4,0.5,No,90.9,4.9,Fair,3,Master,Good,1,No,66.4
5,S1005,24,Male,7.2,1.3,0.0,No,82.9,7.4,Fair,1,Master,Average,4,No,100.0
6,S1006,21,Female,5.6,1.5,1.4,Yes,85.8,6.5,Good,2,Master,Poor,4,No,89.8
7,S1007,21,Female,4.3,1.0,2.0,Yes,77.7,4.6,Fair,0,Bachelor,Average,8,No,72.6
8,S1008,23,Female,4.4,2.2,1.7,No,100.0,7.1,Good,3,Bachelor,Good,1,No,78.9
9,S1009,18,Female,4.8,3.1,1.3,No,95.4,7.5,Good,5,Bachelor,Good,10,Yes,100.0
10,S1010,19,Female,4.6,3.7,0.8,No,77.6,5.8,Fair,1,NaN,Good,3,No,63.3
11,S1011,23,Male,3.9,2.4,2.5,No,71.7,7.9,Fair,2,Bachelor,Average,1,No,74.4
12,S1012,19,Female,3.7,2.1,0.4,Yes,81.1,4.5,Fair,1,Bachelor,Good,9,No,76.9
13,S1013,19,Female,3.4,2.7,2.7,No,89.3,4.7,Fair,4,Bachelor,Good,10,No,75.8
14,S1014,24,Male,2.4,1.5,0.7,No,87.4,6.7,Poor,6,Bachelor,Average,9,No,78.9

**Groupby - Single Group & Single Column**

In [113]:
temp = studentData.groupby(["age"])["study_hours_per_day"].sum();

In [114]:
temp.head()

age
17    471.8
18    424.0
19    390.7
20    528.0
21    430.2
Name: study_hours_per_day, dtype: float64

**Groupby - Single Group & Multiple Columns**

In [115]:
temp = studentData.groupby(["age"])[["study_hours_per_day","social_media_hours"]].sum();

In [116]:
temp.head()

     study_hours_per_day  social_media_hours
age
17                 471.8               318.1
18                 424.0               313.0
19                 390.7               280.5
20                 528.0               378.9
21                 430.2               311.0

**Groupby - Multiple Groups & Single Column**

In [117]:
temp = studentData.groupby(["age","gender"])["study_hours_per_day"].sum();

In [119]:
temp.head(25)

age  gender
17   Female    205.7
     Male      248.0
     Other      18.1
18   Female    229.2
     Male      180.4
     Other      14.4
19   Female    212.9
     Male      170.3
     Other       7.5
20   Female    269.7
     Male      232.1
     Other      26.2
21   Female    221.4
     Male      182.7
     Other      26.1
22   Female    218.0
     Male      182.3
     Other       6.8
23   Female    176.9
     Male      223.2
     Other      25.4
24   Female    190.0
     Male      261.1
     Other      27.2
Name: study_hours_per_day, dtype: float64

In [120]:
temp = studentData.groupby(["age","gender"],as_index=False)["study_hours_per_day"].sum();

In [121]:
temp.head(25)

    age  gender  study_hours_per_day
0    17  Female                205.7
1    17    Male                248.0
2    17   Other                 18.1
3    18  Female                229.2
4    18    Male                180.4
5    18   Other                 14.4
6    19  Female                212.9
7    19    Male                170.3
8    19   Other                  7.5
9    20  Female                269.7
10   20    Male                232.1
11   20   Other                 26.2
12   21  Female                221.4
13   21    Male                182.7
14   21   Other                 26.1
15   22  Female                218.0
16   22    Male                182.3
17   22   Other                  6.8
18   23  Female                176.9
19   23    Male                223.2
20   23   Other                 25.4
21   24  Female                190.0
22   24    Male                261.1
23   24   Other                 27.2

**Groupby - Multiple Groups Multiple Columns**

In [122]:
temp = studentData.groupby(["age","gender"],as_index=False)[["study_hours_per_day","social_media_hours"]].sum();

In [123]:
temp.head(25)

    age  gender  study_hours_per_day  social_media_hours
0    17  Female                205.7               136.0
1    17    Male                248.0               166.5
2    17   Other                 18.1                15.6
3    18  Female                229.2               160.5
4    18    Male                180.4               143.0
5    18   Other                 14.4                 9.5
6    19  Female                212.9               144.7
7    19    Male                170.3               129.2
8    19   Other                  7.5                 6.6
9    20  Female                269.7               179.1
10   20    Male                232.1               177.8
11   20   Other                 26.2                22.0
12   21  Female                221.4               160.5
13   21    Male                182.7               138.5
14   21   Other                 26.1                12.0
15   22  Female                218.0               142.2
16   22    Male                182.3               128.6
17   22   Other                  6.8                 4.6
18   23  Female                176.9               128.3
19   23    Male                223.2               147.2
20   23   Other                 25.4                18.8
21   24  Female                190.0               153.1
22   24    Male                261.1               161.1
23   24   Other                 27.2                19.8

**Groupby - Multiple Functions**

In [124]:
temp = studentData.groupby(["age","gender"],as_index=False)[["study_hours_per_day","social_media_hours"]].agg(["mean","sum","median"]);

In [125]:
temp.head(25)

   age  gender study_hours_per_day               social_media_hours         \
                              mean    sum median               mean    sum
0   17  Female            3.546552  205.7   3.50           2.344828  136.0
1   17    Male            3.594203  248.0   3.50           2.413043  166.5
2   17   Other            3.016667   18.1   2.80           2.600000   15.6
3   18  Female            3.884746  229.2   4.00           2.720339  160.5
4   18    Male            3.340741  180.4   3.50           2.648148  143.0
5   18   Other            3.600000   14.4   3.30           2.375000    9.5
6   19  Female            3.490164  212.9   3.30           2.372131  144.7
7   19    Male            3.475510  170.3   3.50           2.636735  129.2
8   19   Other            2.500000    7.5   2.70           2.200000    6.6
9   20  Female            3.644595  269.7   3.60           2.420270  179.1
10  20    Male            3.516667  232.1   3.50           2.693939  177.8
11  20   Other            3.742857   26.2   3.80           3.142857   22.0
12  21  Female            3.514286  221.4   3.60           2.547619  160.5
13  21    Male            3.383333  182.7   3.35           2.564815  138.5
14  21   Other            3.728571   26.1   4.20           1.714286   12.0
15  22  Female            3.633333  218.0   3.35           2.370000  142.2
16  22    Male            3.574510  182.3   3.50           2.521569  128.6
17  22   Other            3.400000    6.8   3.40           2.300000    4.6
18  23  Female            3.468627  176.9   3.30           2.515686  128.3
19  23    Male            3.600000  223.2   3.60           2.374194  147.2
20  23   Other            4.233333   25.4   4.25           3.133333   18.8
21  24  Female            3.454545  190.0   3.50           2.783636  153.1
22  24    Male            3.626389  261.1   3.65           2.237500  161.1
23  24   Other            3.885714   27.2   4.20           2.828571   19.8


   median
0    2.40
1    2.40
2    2.70
3    3.00
4    2.90
5    2.25
6    2.20
7    2.60
8    1.90
9    2.25
10   2.60
11   3.00
12   2.40
13   2.40
14   2.00
15   2.35
16   2.50
17   2.30
18   2.40
19   2.40
20   3.10
21   2.90
22   2.30
23   2.90

**Advanced - Create age groups**

In [ ]:
bins = [0, 22, 35, 150]  # Ranges: 0-22, 23 - 35 , 36 - 150
labels = ['Young', 'Middle', 'Senior']
studentData['age_groups'] = pd.cut(studentData['age'], bins=bins, labels=labels);

In [133]:
studentData.head(30)

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score,age_groups
0,S1000,23,Female,0.0,1.2,1.1,No,85.0,8.0,Fair,6,Master,Average,8,Yes,56.2,Middle
1,S1001,20,Female,6.9,2.8,2.3,No,97.3,4.6,Good,6,High School,Average,8,No,100.0,Young
2,S1002,20,Male,6.9,2.8,2.3,No,97.3,4.6,Good,6,High School,Average,8,No,100.0,Young
3,S1003,23,Female,1.0,3.9,1.0,No,71.0,9.2,Poor,4,Master,Good,1,Yes,26.8,Middle
4,S1004,19,Female,5.0,4.4,0.5,No,90.9,4.9,Fair,3,Master,Good,1,No,66.4,Young
5,S1005,24,Male,7.2,1.3,0.0,No,82.9,7.4,Fair,1,Master,Average,4,No,100.0,Middle
6,S1006,21,Female,5.6,1.5,1.4,Yes,85.8,6.5,Good,2,Master,Poor,4,No,89.8,Young
7,S1007,21,Female,4.3,1.0,2.0,Yes,77.7,4.6,Fair,0,Bachelor,Average,8,No,72.6,Young
8,S1008,23,Female,4.4,2.2,1.7,No,100.0,7.1,Good,3,Bachelor,Good,1,No,78.9,Middle
9,S1009,18,Female,4.8,3.1,1.3,No,95.4,7.5,Good,5,Bachelor,Good,10,Yes,100.0,Young
10,S1010,19,Female,4.6,3.7,0.8,No,77.6,5.8,Fair,1,NaN,Good,3,No,63.3,Young
11,S1011,23,Male,3.9,2.4,2.5,No,71.7,7.9,Fair,2,Bachelor,Average,1,No,74.4,Middle
12,S1012,19,Female,3.7,2.1,0.4,Yes,81.1,4.5,Fair,1,Bachelor,Good,9,No,76.9,Young
13,S1013,19,Female,3.4,2.7,2.7,No,89.3,4.7,Fair,4,Bachelor,Good,10,No,75.8,Young
14,S1014,24,Male,2.4,1.5,0.7,No,87.4,6.7,Poor,6,Bachelor,Average,9,No,78.9,Middle
15,S1015,21,Male,3.1,5.0,1.0,No,97.5,6.5,Good,6,High School,Average,7,No,74.0,Young
16,S1016,20,Male,1.0,0.6,0.2,No,92.9,5.6,Poor,3,High School,Poor,8,Yes,55.2,Young
17,S1017,24,Female,3.4,2.7,1.2,No,94.7,7.5,Poor,0,High School,Average,1,Yes,70.8,Middle
18,S1018,24,Other,2.0,4.9,2.9,Yes,88.3,7.1,Good,2,High School,Good,5,No,43.9,Middle
19,S1019,19,Male,1.8,2.5,2.4,No,71.1,7.5,Fair,1,High School,Average,2,No,45.3,Young
20,S1020,22,Female,3.8,2.3,2.9,No,83.0,6.4,Good,3,Master,Good,1,No,58.5,Young
21,S1021,21,Male,5.6,2.1,2.4,No,95.6,7.2,Fair,1,High School,Good,3,No,82.5,Young
22,S1022,18,Other,4.9,2.3,0.6,No,84.5,6.0,Fair,3,High School,Average,7,No,98.7,Young
23,S1023,24,Female,1.1,4.1,1.4,Yes,90.0,9.0,Fair,6,Bachelor,Good,1,No,43.7,Middle
24,S1024,20,Female,2.0,0.0,0.9,Yes,81.8,5.5,Fair,4,Bachelor,Average,2,No,54.9,Young
25,S1025,22,Male,4.9,4.3,3.3,No,74.7,9.0,Fair,1,High School,Average,2,Yes,69.9,Young
26,S1026,22,Male,2.0,0.8,0.5,No,83.8,6.5,Good,4,Bachelor,Poor,4,No,73.5,Young
27,S1027,18,Male,3.2,2.2,2.8,Yes,88.1,4.8,Fair,5,Bachelor,Average,3,No,71.1,Young
28,S1028,24,Male,4.3,2.0,2.8,Yes,78.4,8.1,Good,5,High School,Poor,3,Yes,82.8,Middle
29,S1029,20,Female,2.0,3.2,3.8,Yes,82.6,6.7,Poor,6,High School,Poor,10,Yes,75.7,Young

In [134]:
temp = studentData.groupby("age_groups")[["study_hours_per_day","social_media_hours"]].sum();

/var/folders/2v/jpd863_n53d9410dln88s25m0000gn/T/ipykernel_29731/803104898.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  temp = studentData.groupby("age_groups")[["study_hours_per_day","social_media_hours"]].sum();

In [135]:
temp.head(30)

            study_hours_per_day  social_media_hours
age_groups
Young                    2651.8              1876.9
Middle                    903.8               628.3
Senior                      0.0                 0.0