<a href="https://colab.research.google.com/github/suddeb/PythonCode/blob/main/KaggleSetupInGoogleColab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Using the Kaggle Dataset: [Link](https://www.kaggle.com/datasets/malakhussien220/student-habits-performance)

In [4]:
import pandas as pd;

In [70]:
df = pd.read_csv('../data/StudentHabit/student_habits_performance.csv')

In [71]:
df.head()

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score
0,S1000,23,Female,0.0,1.2,1.1,No,85.0,8.0,Fair,6,Master,Average,8,Yes,56.2
1,S1001,20,Female,6.9,2.8,2.3,No,97.3,4.6,Good,6,High School,Average,8,No,100.0
2,S1002,20,Male,6.9,2.8,2.3,No,97.3,4.6,Good,6,High School,Average,8,No,100.0
3,S1003,23,Female,1.0,3.9,1.0,No,71.0,9.2,Poor,4,Master,Good,1,Yes,26.8
4,S1004,19,Female,5.0,4.4,0.5,No,90.9,4.9,Fair,3,Master,Good,1,No,66.4

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   student_id                     1000 non-null   object
 1   age                            1000 non-null   int64
 2   gender                         1000 non-null   object
 3   study_hours_per_day            1000 non-null   float64
 4   social_media_hours             1000 non-null   float64
 5   netflix_hours                  1000 non-null   float64
 6   part_time_job                  1000 non-null   object
 7   attendance_percentage          1000 non-null   float64
 8   sleep_hours                    1000 non-null   float64
 9   diet_quality                   1000 non-null   object
 10  exercise_frequency             1000 non-null   int64
 11  parental_education_level       909 non-null    object
 12  internet_quality               1000 non-null   object
 13  mental_health_rating           1000 non-null   int64
 14  extracurricular_participation  1000 non-null   object
 15  exam_score                     1000 non-null   float64
dtypes: float64(6), int64(3), object(7)
memory usage: 125.1+ KB

In [73]:
df.groupby("age").median(numeric_only=True)

,study_hours_per_day,social_media_hours,netflix_hours,attendance_percentage,sleep_hours,exercise_frequency,mental_health_rating,exam_score
age,,,,,,,,
17,3.50,2.4,1.8,84.80,6.50,3.0,6.0,70.40
18,3.80,2.9,1.6,85.90,6.40,3.0,5.0,71.10
19,3.30,2.5,1.9,84.60,6.50,3.0,6.0,68.30
20,3.60,2.4,2.0,83.50,6.30,3.0,6.0,70.90
21,3.40,2.4,1.9,84.00,6.40,3.0,5.0,67.75
22,3.50,2.4,1.9,83.10,6.30,3.0,6.0,69.90
23,3.50,2.4,1.7,85.30,6.70,3.0,5.0,70.70
24,3.55,2.6,1.8,83.25,6.55,3.0,6.0,70.05

In [74]:
df.groupby("age")["study_hours_per_day"].median()

age
17    3.50
18    3.80
19    3.30
20    3.60
21    3.40
22    3.50
23    3.50
24    3.55
Name: study_hours_per_day, dtype: float64

In [75]:
df.groupby("age")["study_hours_per_day"].agg(['mean','median','max'])

         mean  median  max
age
17   3.547368    3.50  7.3
18   3.623932    3.80  7.5
19   3.457522    3.30  8.3
20   3.591837    3.60  6.9
21   3.469355    3.40  7.4
22   3.602655    3.50  6.8
23   3.575630    3.50  8.2
24   3.569403    3.55  7.2

In [76]:
def let_apply_to_group(grp):
    return grp.max()
df.groupby("age")["study_hours_per_day"].apply(let_apply_to_group)

age
17    7.3
18    7.5
19    8.3
20    6.9
21    7.4
22    6.8
23    8.2
24    7.2
Name: study_hours_per_day, dtype: float64

In [77]:
df.groupby(["age","gender"])["study_hours_per_day"].agg(['mean','median','max'])

                mean  median  max
age gender
17  Female  3.546552    3.50  6.6
    Male    3.594203    3.50  7.3
    Other   3.016667    2.80  4.3
18  Female  3.884746    4.00  7.5
    Male    3.340741    3.50  6.0
    Other   3.600000    3.30  4.9
19  Female  3.490164    3.30  7.6
    Male    3.475510    3.50  8.3
    Other   2.500000    2.70  3.1
20  Female  3.644595    3.60  6.9
    Male    3.516667    3.50  6.9
    Other   3.742857    3.80  4.9
21  Female  3.514286    3.60  7.4
    Male    3.383333    3.35  6.7
    Other   3.728571    4.20  5.1
22  Female  3.633333    3.35  6.4
    Male    3.574510    3.50  6.8
    Other   3.400000    3.40  3.8
23  Female  3.468627    3.30  6.2
    Male    3.600000    3.60  8.2
    Other   4.233333    4.25  5.6
24  Female  3.454545    3.50  6.6
    Male    3.626389    3.65  7.2
    Other   3.885714    4.20  5.3

In [78]:
df.groupby(["age","gender"],as_index=False)[["study_hours_per_day","netflix_hours"]].agg(['mean','median','max'])

   age  gender study_hours_per_day             netflix_hours
                              mean median  max          mean median  max
0   17  Female            3.546552   3.50  6.6      1.963793   1.85  4.3
1   17    Male            3.594203   3.50  7.3      1.763768   1.70  4.1
2   17   Other            3.016667   2.80  4.3      1.983333   2.50  3.2
3   18  Female            3.884746   4.00  7.5      1.605085   1.50  4.1
4   18    Male            3.340741   3.50  6.0      1.620370   1.60  4.1
5   18   Other            3.600000   3.30  4.9      1.950000   2.20  2.8
6   19  Female            3.490164   3.30  7.6      1.900000   1.90  4.5
7   19    Male            3.475510   3.50  8.3      1.832653   1.80  4.3
8   19   Other            2.500000   2.70  3.1      1.766667   1.60  3.7
9   20  Female            3.644595   3.60  6.9      1.886486   1.90  4.4
10  20    Male            3.516667   3.50  6.9      1.980303   2.05  4.2
11  20   Other            3.742857   3.80  4.9      2.685714   2.60  5.0
12  21  Female            3.514286   3.60  7.4      1.722222   1.80  4.2
13  21    Male            3.383333   3.35  6.7      1.768519   1.85  3.4
14  21   Other            3.728571   4.20  5.1      2.385714   2.30  4.3
15  22  Female            3.633333   3.35  6.4      1.863333   1.90  5.3
16  22    Male            3.574510   3.50  6.8      2.064706   2.00  4.9
17  22   Other            3.400000   3.40  3.8      0.750000   0.75  1.2
18  23  Female            3.468627   3.30  6.2      1.658824   1.70  3.9
19  23    Male            3.600000   3.60  8.2      1.635484   1.55  4.0
20  23   Other            4.233333   4.25  5.6      1.933333   2.05  3.2
21  24  Female            3.454545   3.50  6.6      1.741818   1.70  5.4
22  24    Male            3.626389   3.65  7.2      1.911111   1.95  4.6
23  24   Other            3.885714   4.20  5.3      1.828571   1.80  2.9

In [79]:
mygroup = df.groupby("age")

In [80]:
mygroup.first()

,student_id,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score
age,,,,,,,,,,,,,,,
17,S1031,Other,1.5,3.1,2.6,Yes,96.2,8.0,Fair,4,Bachelor,Average,3,Yes,51.3
18,S1009,Female,4.8,3.1,1.3,No,95.4,7.5,Good,5,Bachelor,Good,10,Yes,100.0
19,S1004,Female,5.0,4.4,0.5,No,90.9,4.9,Fair,3,Master,Good,1,No,66.4
20,S1001,Female,6.9,2.8,2.3,No,97.3,4.6,Good,6,High School,Average,8,No,100.0
21,S1006,Female,5.6,1.5,1.4,Yes,85.8,6.5,Good,2,Master,Poor,4,No,89.8
22,S1020,Female,3.8,2.3,2.9,No,83.0,6.4,Good,3,Master,Good,1,No,58.5
23,S1000,Female,0.0,1.2,1.1,No,85.0,8.0,Fair,6,Master,Average,8,Yes,56.2
24,S1005,Male,7.2,1.3,0.0,No,82.9,7.4,Fair,1,Master,Average,4,No,100.0

In [82]:
df[df["age"]==17]

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score
31,S1031,17,Other,1.5,3.1,2.6,Yes,96.2,8.0,Fair,4,Bachelor,Average,3,Yes,51.3
37,S1037,17,Male,4.3,2.5,0.0,Yes,64.1,3.9,Good,0,High School,Average,2,No,59.4
38,S1038,17,Male,3.8,1.7,1.4,No,70.3,7.0,Poor,0,Bachelor,Good,1,No,58.1
57,S1057,17,Male,3.9,2.4,1.2,No,90.7,7.1,Good,1,Bachelor,Average,7,Yes,75.2
63,S1063,17,Male,4.1,2.3,2.6,Yes,76.5,5.1,Fair,3,Bachelor,Average,9,No,77.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
960,S1960,17,Male,7.1,1.9,1.1,Yes,69.3,5.6,Good,6,High School,Average,6,No,100.0
961,S1961,17,Female,4.7,1.8,1.6,No,95.8,5.1,Good,2,Master,Good,10,No,81.1
965,S1965,17,Male,4.3,3.4,0.6,No,59.8,6.6,Fair,5,Master,Average,6,Yes,77.3
972,S1972,17,Female,4.5,0.4,3.0,No,100.0,5.5,Fair,3,High School,Good,8,No,91.9
996,S1996,17,Female,2.9,1.0,2.4,Yes,86.0,6.8,Poor,1,High School,Average,6,Yes,65.9

In [83]:
bins = [0, 22, 35, 100]  # Ranges: 0-22, 23 - 35 , 36 - 100
labels = ['Young', 'Middle', 'Senior']
df['age_groups'] = pd.cut(df['age'], bins=bins, labels=labels);

In [84]:
df.head()

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score,age_groups
0,S1000,23,Female,0.0,1.2,1.1,No,85.0,8.0,Fair,6,Master,Average,8,Yes,56.2,Middle
1,S1001,20,Female,6.9,2.8,2.3,No,97.3,4.6,Good,6,High School,Average,8,No,100.0,Young
2,S1002,20,Male,6.9,2.8,2.3,No,97.3,4.6,Good,6,High School,Average,8,No,100.0,Young
3,S1003,23,Female,1.0,3.9,1.0,No,71.0,9.2,Poor,4,Master,Good,1,Yes,26.8,Middle
4,S1004,19,Female,5.0,4.4,0.5,No,90.9,4.9,Fair,3,Master,Good,1,No,66.4,Young

In [85]:
df.groupby("age_groups")["study_hours_per_day"].agg(['mean','median','max'])

/var/folders/2v/jpd863_n53d9410dln88s25m0000gn/T/ipykernel_34233/3514092437.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("age_groups")["study_hours_per_day"].agg(['mean','median','max'])

                mean  median  max
age_groups
Young       3.549933     3.5  8.3
Middle      3.572332     3.5  8.2
Senior           NaN     NaN  NaN

In [87]:
df.groupby(["age_groups","gender"],as_index=None)["study_hours_per_day"].agg(['mean','median','max'])

/var/folders/2v/jpd863_n53d9410dln88s25m0000gn/T/ipykernel_34233/4267116635.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(["age_groups","gender"],as_index=None)["study_hours_per_day"].agg(['mean','median','max'])

  age_groups  gender      mean  median  max
0      Young  Female  3.618400    3.60  7.6
1      Young    Male  3.486297    3.50  8.3
2      Young   Other  3.417241    3.20  5.1
3     Middle  Female  3.461321    3.45  6.6
4     Middle    Male  3.614179    3.60  8.2
5     Middle   Other  4.046154    4.20  5.6
6     Senior  Female       NaN     NaN  NaN
7     Senior    Male       NaN     NaN  NaN
8     Senior   Other       NaN     NaN  NaN