In [17]:
import pandas as pd;
import numpy as np;

In [18]:
df = pd.DataFrame({'A': [1, None, None, 4], 'B': [None, 5, None, 7]})

In [19]:
df

     A    B
0  1.0  NaN
1  NaN  5.0
2  NaN  NaN
3  4.0  7.0

**Pandas Method: backfill and frontfill**

In [20]:
df.bfill()

     A    B
0  1.0  5.0
1  4.0  5.0
2  4.0  7.0
3  4.0  7.0

In [21]:
df.ffill()

     A    B
0  1.0  NaN
1  1.0  5.0
2  1.0  5.0
3  4.0  7.0

In [23]:
df

     A    B
0  1.0  NaN
1  NaN  5.0
2  NaN  NaN
3  4.0  7.0

In [25]:
df.ffill(axis="columns")

     A    B
0  1.0  1.0
1  NaN  5.0
2  NaN  NaN
3  4.0  7.0

In [26]:
df.ffill(axis="rows")

     A    B
0  1.0  NaN
1  1.0  5.0
2  1.0  5.0
3  4.0  7.0